<ion-view title="About" id="page3" style="">
    <ion-content padding="true" class="has-header">

      <div class="item-image">
          <img src="img/material-graphite.jpg">
    </div>

<div class="card">
  <div class="item item-text-wrap">
    Ini aplikasi ceritanya adalah tugas makul RPL2 , yang nantinya aplikasi ini akan kami berinama "Javice"
    tentang kami :
  </div>
</div>

<div class="list">

	<a class="item item-icon-left"  ui-sref="menu.adam">
    <i class="icon ion-ios-person"></i>
    Adam Maulana
  </a>
  <a class="item item-icon-left"  ui-sref="menu.cakra">
    <i class="icon ion-ios-person"></i>
    Cakra aji wicaksono
  </a>
  <a class="item item-icon-left" ui-sref="menu.faid">
    <i class="icon ion-ios-person"></i>
    Faidl Fahruddin Nawa
  </a>
  <a class="item item-icon-left"  ui-sref="menu.riski">
    <i class="icon ion-ios-person"></i>
	Rizky Ajie Setiawan
  </a>

</div>
<div class="item-text-wrap">
   <center>Terimakasih Indonesia</center>
</div>
    </ion-content>
</ion-view>
