<ion-side-menus enable-menu-with-back-views="false" style="">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="expanded">
          <div class="menu-javice">
          Jasa Service
          </div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">

             <!-- menu list-->
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <label class="item-input">
               <i class="icon ion-ios-search "></i>
                 <input type="text" placeholder="Search">
             </label>

            <ion-list id="menu-null">
                <ul>
                  <a class="item item-icon-left" href="#" ui-sref="menu.home"  menu-close="" id="menu-list-item2">
                    <i class="icon ion-home"></i>Home
                  </a>
                  <a class="item item-icon-left" href="#" ui-sref="menu.help"  menu-close="" id="menu-list-item3">
                    <i class="icon ion-ios-help"></i>Help
                  </a>
                  <a class="item item-icon-left" href="#" ui-sref="menu.cloud"  menu-close="" id="menu-list-item4">
                    <i class="icon ion-ios-information"></i>About
                  </a>
                </ul>
                
            </ion-list>
             <!-- menu list end-->
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
