<ion-view title="About" id="page3" style="">
    <ion-content padding="true" class="has-header">

<div class="spacer" style="width: 253px; height: 1px;"></div>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>

<div class="card">
  <div class="item item-text-wrap">
    Ini aplikasi ceritanya adalah tugas makul RPL2 , yang nantinya aplikasi ini akan kami berinama "service-in"
    tentang kami :
  </div>
</div>

<div class="list">

	<a class="item item-icon-left"  ui-sref="menu.adam">
    <i class="icon ion-ios-person"></i>
    Adam Maulana
  </a>
  <a class="item item-icon-left"  ui-sref="menu.cakra">
    <i class="icon ion-ios-person"></i>
    Cakra aji wicaksono
  </a>
  <a class="item item-icon-left" ui-sref="menu.faid">
    <i class="icon ion-ios-person"></i>
    Faidl Fahruddin Nawa
  </a>
  <a class="item item-icon-left"  ui-sref="menu.riski">
    <i class="icon ion-ios-person"></i>
	Rizky Ajie Setiawan
  </a>

</div>
<div class="item-text-wrap">
   <center>Terimakasih Indonesia</center>
</div>
    </ion-content>
</ion-view>
