
<ion-view title="help" id="help" style="">
    <ion-content padding="true" class="has-header">
      <br><br><br><br><br>

      <div class="card">
        <div class="item item-text-wrap"><br>
          Pada halaman awal app ini ter dapat map dan dua list kategori info & jasa <br>
          untuk halaman info berisi tentang daftar harga produk elektronik <br>
          sedangkan untuk halaman jasa berisi tentang jasa tukang service alat alat <br>
          elektronik.<br>
          Pengguna juga dapat melihat lokasi toko/tempat service, karena di dalam <br>
          list tersebut terdapat peta/map dimana dalam peta tersebut sudah di tandai dengan<br>
          marker berdasarkan nama/lokasi. <br>
          Selain itu juga pengguna dapat membeli barang elekronik secara online<br>
          atau langsung bisa datang ke toko<br><br>


        </div>
      </div>


    </ion-content>
</ion-view>
