<ion-view title="Home" id="page1" style="">
    <ion-content padding="true" class="has-header">
      <ion-list ng-repeat="item in items">
        <ion-item ng-show="toggleGroup('{{item.id}}')" >
          {{ item.id }}
        </ion-item>
        <ion-item class="item-accordion item-text-wrap" ng-hidden="isGroupShown('{{item.id}}')">
          <div class='parkmap' id='map{{item.code}}'></div>
        </ion-item>
      </ion-list>
<br>
<br>
      <div class="card">
        <div class="item item-text-wrap">
          <a class="item item-icon-left"  ui-sref="menu.jasa">
            <i class="icon ion-briefcase"></i>
        	Jasa
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <a class="item item-icon-left"  ui-sref="menu.info">
            <i class="icon ion-alert"></i>
          info
          </a>
        </div>
      </div>



    </ion-content>
</ion-view>
