<ion-side-menus enable-menu-with-back-views="false" style="">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-dark">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <div class="spacer" style="width: 253px; height: 1px;"></div>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
             <!-- menu list-->
             <br>
             <label class="item item-input">
               <i class="icon ion-ios-search "></i>
                 <input type="text" placeholder="      Search">

             </label>
             <br>
            <ion-list id="menu-null">
              <div class="card">

                <ul>
                  <a class="item item-icon-left" href="#" ui-sref="menu.home"  menu-close="" id="menu-list-item2">
                    <i class="icon ion-home"></i>Home
                  </a>
                  <a class="item item-icon-left" href="#" ui-sref="menu.help"  menu-close="" id="menu-list-item3">
                    <i class="icon ion-ios-help"></i>Help
                  </a>
                  <a class="item item-icon-left" href="#" ui-sref="menu.cloud"  menu-close="" id="menu-list-item4">
                    <i class="icon ion-ios-information"></i>About
                  </a>
                </ul>
              </div>
            </ion-list>
             <!-- menu list end-->
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
