<ion-view title="Cakra" id="cakra" style="">
    <ion-content padding="true" class="has-header">
       <div class="card">
            <div class="item-image">
                    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="img/cakra.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <br>
              <br>
              <span class="black-text">
                "~ lebih baik sendiri daripada berdua tapi sama orang yang salah ~"
              </span>
            </div>
          </div>
        </div>
      </div>
			</div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          Biodata saya:
        <div class="item">

          <div class="row">
              <div class="col col-20 ">Nama</div>
              <div class="col col-5">:</div>
              <div class="col col-75">Cakra Aji Wicaksono </div> <br>
          </div>
          <div class="row">
            <div class="col col-20">Prodi</div>
            <div class="col col-5">:</div>
            <div class="col col-75">Teknik Informatika</div>
          </div>
          <div class="row">
            <div class="col col-20">Nim</div>
            <div class="col col-5">:</div>
            <div class="col col-75">141240000225</div>
          </div>
          <div class="row">
            <div class="col col-20">Email</div>
            <div class="col col-5">:</div>
            <div class="col col-75">cakrafals@gmail.com</div>
          </div>


        </div>
        </div>

      </div>





    </ion-content>
</ion-view>
