<ion-view title="Adam Maulana" id="adam" style="">
    <ion-content padding="true" class="has-header">

      <div class="card">
            <div class="item-image">
                <img src="adam.jpg">
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          Biodata saya:
        <div class="item">

          <div class="row">
              <div class="col col-20 ">Nama</div>
              <div class="col col-5">:</div>
              <div class="col col-75">Adam Maulana</div> <br>
          </div>
          <div class="row">
            <div class="col col-20">Prodi</div>
            <div class="col col-5">:</div>
            <div class="col col-75">Teknik Informatika</div>
          </div>
          <div class="row">
            <div class="col col-20">Nim</div>
            <div class="col col-5">:</div>
            <div class="col col-75">141240000255</div>
          </div>
          <div class="row">
            <div class="col col-20">Email</div>
            <div class="col col-5">:</div>
            <div class="col col-75">adamaulana@gmail.com</div>
          </div>


        </div>
        </div>

      </div>





    </ion-content>
</ion-view>
